project/let's go biking/HeavyClient/HeavyClient/Connected Services/RoutingWithBikesSoap/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/RoutingWithBikes/SoapService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RoutingWithBikeItinirary" />
  <xs:element name="getClosestStations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClosestStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RoutingWithBikeItinirary" minOccurs="0" name="getClosestStationsResult" nillable="true" type="q1:ArrayOfItinirary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>